@import 'src/style/themes/clin/layout';

.prescriptionEntityQCWrapper {

  .content {
    padding: 24px;
  }

  :global(.ant-card) {
    height: 100%;
  }

  :global(.ant-tabs-large > .ant-tabs-nav .ant-tabs-tab) {
    font-size: 14px;
    padding: 7px 0 9px 0;
    letter-spacing: 0.25px;
    font-weight: 400;
  }
  :global(.ant-tabs-tab-active) {
    font-weight: 500;
  }

  :global(.ant-tabs-nav::before) {
    border: none;
  }

  :global(.ant-card-head) {
    padding: 16px 24px 0 24px;
    height: 54px;
  }
  :global(.ant-card-body) {
    height: calc(100vh - #{$main-header-height} - #{$page-header-height} - #{$main-footer-height} - #{$page-header-height} - 48px);
  }
}
