@import 'src/style/themes/clin/colors';

.variantTableCellElipsis {
  max-width: 240px;
  width: 240px;
  overflow: hidden;
  text-overflow: ellipsis;
  overflow-wrap: unset;
  white-space: nowrap;
}

// prevent safari double tooltip
.variantTableCellElipsis::after {
  content: '';
  display: block;
}

.variantTableCell {
  min-width: 160px;
}
