.occurenceVariant .card {
  border-top: 1px solid var(--gray-4);
}

.occurenceVariant :global(.ant-card) {
  border-top: 1px solid var(--gray-4) !important;
}

.occurenceVariant :global(.ant-table-expanded-row-fixed) {
  background-color: var(--gray-3);
}

.occurenceVariant .linkButton {
  padding-left: 0;
  padding-right: 0;
}

.occurenceVariant :global(.ant-divider) {
  height: 24px;
  border-color: var(--gray-5);
}

.occurenceVariant .basicBordered {
  width: 100%;
}

.occurenceVariant .basicBordered :global(.ant-descriptions-view) {
  border: none;
}

.occurenceVariant .basicBordered :global(.ant-descriptions-item-label) {
  background: none;
  border-right: none;
  padding: 4px 0 !important;
}

.occurenceVariant .parentStatusTitle,
.occurenceVariant .parentStatusIconWrapper {
  display: flex;
  align-items: center;
}
.occurenceVariant .parentStatusTitle .parentStatusIcon,
.occurenceVariant .parentStatusIconWrapper .parentStatusIcon {
  margin-left: 4px;
}

.occurenceVariant :global(.ant-descriptions-header){
    margin-bottom: 4px;
}

.occurenceVariant :global(.ant-descriptions-row){
  height: 10px !important;
}

.occurenceVariant :global(.ant-descriptions-title){
    font-size: 12px;
    line-height: 20px;
    color: var(--blue-9);
    padding: 0;
}

.occurenceVariant :global(.ant-descriptions-item-label){
    color: var(--gray-7) !important ;
    padding: 0 !important;
}

.occurenceVariant :global(.ant-descriptions-item-content){
  padding: 0 !important;
}

.occurenceVariant .detailButton{
  padding: 0;
}

