.loadingContainer {
  height: calc(100vh - var(--main-header-height) - 2 * var(--page-header-height));
  display: flex;
  justify-content: center;
  align-items: center;
}

.variantSelect{
  min-width: 120px;
}

.noRequests {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 2 * 48px); 
}