@import 'src/style/themes/clin/colors';
@import 'src/style/themes/clin/layout';

.variantEntity {
  .entitySections {
    width: 100%;

    div[class$='-nav'] {
      background-color: white;

      div[class$='-nav-list'] {
        padding: 0 24px;
      }
    }

    :global(.ant-tabs-content-holder) {
      overflow: auto;
    }
  }

  .pageContainer {
    margin: auto;
    max-width: $container-width;
    padding: 24px 24px;
  }
}
