@import 'src/style/themes/clin/colors';

.variantEntity {
  .entitySections {
    div[class$="-nav"] {
      background-color: white;

      div[class$="-nav-list"] {
        padding: 0 24px;
      }
    }
  }

  .pageContainer {
    margin: auto;
    max-width: 1600px;
    padding: 24px 24px;
  }
}
