@import 'src/style/themes/clin/colors';

.variantTableCellElipsis {
  div {
    max-width: 160px;
    width: 140px;
    div {
      overflow: hidden;
      text-overflow: ellipsis;
      overflow-wrap: unset;
      white-space: nowrap;
    }

    // prevent safari double tooltip
    div::after {
      content: '';
      display: block;
    }
  }
}

// prevent safari double tooltip
.variantTableCellElipsis::after {
  content: '';
  display: block;
}

.variantTableCell {
  min-width: 160px;
}

.dbSnpTableCell {
  min-width: 60px;
  text-align: center;
}

.variantSnvOmimCellItem {
  margin-bottom: 2px;
}

.addGene {
  .addGeneButton {
    padding: 0 4px;
    border-radius: 2px;
    color: $blue-8;

    &:hover {
      cursor: pointer;
      background-color: $gray-4;
    }
  }
}

.userAffectedBtnCell {
  .affectedIcon {
    display: flex;
    margin: auto;
    fill: $blue-8;
    &:hover {
      cursor: pointer;
    }
  }
}

.rqdmCell {
  min-width: 100px;
}

.fixedVariantTableCellElipsis {
  min-width: 100px;
  max-width: 100px;
  width: 100px;
  div {
    overflow: hidden;
    text-overflow: ellipsis;
    overflow-wrap: unset;
    white-space: nowrap;
  }

  div::after {
    content: '';
    display: block;
  }

}

.hotspotFilled{
  color: $red-7;
}

.hotspotOutlined{
  color:  $gray-6;
}
