@import 'src/style/themes/clin/colors';

.assigmentCell {
  display: flex;
  :not(:first-child) {
    margin-left: -8px;
  }
}

.assignmentsPopOver {
  width: 450px;
  padding: 0;
  :global(.ant-popover-arrow) {
    display: none;
  }
  :global(.ant-popover-inner-content) {
    padding: 8px 12px;
  }
}

.assignementAvatar {
  :not(:first-child) {
    margin-left: -8px;
  }
}

.userAvatar {
  span {
    font-size: 12px;
    line-height: 20px;
  }
}
.outlineAvatar {
  outline: 1px solid white;
}

.userPopOverContent {
  width: fit-content;
  :global(.ant-popover-inner-content) {
    display: flex;
    flex-direction: column;
  }

  :global(.ant-tag) {
    :global(.ant-space-item):nth-child(2) {
      span {
        font-size: 14px;
        line-height: 22px;
      }
    }
  }

  :global(.ant-typography-copy) {
    font-size: 12px;
  }
}

.userInfo {
  background-color: red;
}
.moreAssignment {
  background-color: $blue-2;
  color: $blue-8;
  border: none;
  outline: 1px solid white;
  span {
    font-size: 12px;
  }
}

.emailLink {
  padding: 0;
  margin-left: 32px;
  height: 20px;
  display: flex;
  width: fit-content;
  .emailTextGroup {
    text-decoration: none !important;
    line-height: 20px;
    height: 20px;
    .emailText {
      text-decoration: none !important;
      font-size: 12px;
      &:hover {
        text-decoration: underline !important;
        color: $blue-8;
      }
    }
    &:hover {
      height: 20px;
      line-height: 22px;
      .emailText {
        width: calc(100% - 12px) !important;
        overflow: hidden; // Crop text
        white-space: nowrap;
        text-overflow: ellipsis; // Add ellipse
        display: block;
      }
      :global(.ant-typography-copy) {
        display: inline !important;
        position: absolute;
        right: 0;
        top: 0;
        width: 12px;
        height: 12px;
      }
    }
    :global(.ant-typography-copy) {
      color: $gray-7;
      display: none !important;
      &:hover {
        color: $blue-8;
      }
    }
  }
}
