@import 'src/style/themes/clin/colors';

.assigmentCell {
  display: flex;
  :not(:first-child) {
    margin-left: -12px;
  }
}

.assignmentsPopOver {
  width: 450px;
  padding: 0;
  :global(.ant-popover-arrow) {
    display: none;
  }
}

.assignementAvatar {
  :not(:first-child) {
    margin-left: -8px;
  }
}

.userPopOverContent {
  width: fit-content;
  :global(.ant-popover-inner-content) {
    display: flex;
    flex-direction: column;
  }
}

.moreAssignment {
  background-color: $blue-2;
  color: $blue-8;
  border: none;
  outline: 1px solid white;
  span {
    font-size: 12px;
  }
}

.emailLink {
  padding: 0;
  margin-left: 32px;
  height: 20px;
  .emailTextGroup {
    text-decoration: none !important;
    .emailText {
      text-decoration: none !important;

      font-size: 12px;
      &:hover {
        text-decoration: underline !important;
        color: $blue-8;
      }
    }
    :global(.ant-typography-copy) {
      color: $gray-7;
      &:hover {
        color: $blue-8;
      }
    }
  }
}
