@import 'src/style/themes/clin/colors';

.consequenceUl {
  list-style: none;
  padding: 0;
}

.highImpact {
  fill: $red-5;
}

.lowImpact {
  fill: $green-6;
}

.moderateImpact {
  fill: $orange-5;
}

.modifierImpact {
  fill: $body-3;
}

.detail {
  padding-right: 4px;
  text-overflow: ellipsis;
  max-width: 200px;
  overflow: hidden;
  white-space: nowrap;
}

// prevent safari double tooltip
.detail::after {
  content: '';
  display: block;
}

.bullet {
  margin-right: 8px;
}

.symbol {
  padding-right: 8px;
}
