
.radioButton :global(.ant-radio-button-wrapper-checked).red {
    color: var(--red-9);
    border-color: var(--red-3) !important;
    border-right-color: var(--red-3) !important;
    background-color: var(--red-2);
}

.radioButton :global(.ant-radio-button-wrapper-checked).red:hover {
    color: var(--red-9);
}

.radioButton :global(.ant-radio-button-wrapper-checked).volcano {
    color: var(--volcano-9);
    border-color: var(--volcano-3) !important;
    border-right-color: var(--volcano-3) !important;
    background-color: var(--volcano-2);
}

.radioButton :global(.ant-radio-button-wrapper-checked).volcano:hover {
    color: var(--volcano-9);
}

:global(.ant-radio-button-wrapper-checked).volcano:not(:global(.ant-radio-button-wrapper-disabled))::before {
    background-color: var(--volcano-9);
}

.radioButton :global(.ant-radio-button-wrapper-checked).orange {
    color: var(--orange-9);
    border-color: var(--orange-3) !important;
    border-right-color: var(--orange-3) !important;
    background-color: var(--orange-2);
}

.radioButton :global(.ant-radio-button-wrapper-checked).orange:hover {
    color: var(--orange-9);
}

:global(.ant-radio-button-wrapper-checked).orange:not(:global(.ant-radio-button-wrapper-disabled))::before {
    background-color: var(--orange-9);
}

.radioButton :global(.ant-radio-button-wrapper-checked).lime {
    color: var(--lime-9);
    border-color: var(--lime-3) !important;
    border-right-color: var(--lime-3) !important;
    background-color: var(--lime-2);
}

.radioButton :global(.ant-radio-button-wrapper-checked).lime:hover {
    color: var(--lime-9);
}

:global(.ant-radio-button-wrapper-checked).lime:not(:global(.ant-radio-button-wrapper-disabled))::before {
    background-color: var(--lime-9);
}

.radioButton :global(.ant-radio-button-wrapper-checked).green {
    color: var(--green-9);
    border-color: var(--green-3) !important;
    border-right-color: var(--green-3) !important;
    background-color: var(--green-2);
}

.radioButton :global(.ant-radio-button-wrapper-checked).green:hover {
    color: var(--green-9);
}

:global(.ant-radio-button-wrapper-checked).green:not(:global(.ant-radio-button-wrapper-disabled))::before {
    background-color: var(--green-9);
}

.filledBlueTag  {
    background-color: var(--blue-8);
    color: var(--gray-1);
}

.filledBlueTag :global(.anticon) {
    color: var(--gray-1);
    opacity: 0.8;
}