@import 'src/style/themes/clin/colors';
@import 'src/style/themes/clin/layout';

.contentHeader {
  width: 100%;
  padding: 16px 24px;
  background-color: $gray-1;
  display: flex;
  align-items: center;
  height: 60px;

  .titleSkeleton {
    *[class$='-title'] {
      margin: 0;
      height: 24px;
    }
  }
}
