@import 'src/style/themes/clin/layout';

.prescriptionEntityFileWrapper {
  height: calc(100vh - #{$main-header-height} - #{$page-header-height});
  overflow: scroll;

  .content {
    padding: $default-page-content-padding;
    min-height: calc(100vh - #{$main-header-height} - #{$page-header-height} - #{$main-footer-height});
  }

  :global(.ant-card) {
    height: 100%;
  }
}